claude_ai_n8n_complete/05_Importable_Workflow.json
{
  "name": "Claude AI + ServiceNow Integration",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-servicenow",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "ai-servicenow"
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "claude-sonnet-4-20250514",
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "={{ $json.body.prompt }}"
            }
          ]
        },
        "options": {
          "systemMessage": "You are a ServiceNow assistant. Based on user requests, return ONLY valid JSON (no other text).\n\nFORMAT:\n{\"action\":\"CREATE\",\"table\":\"table_name\",\"fields\":{\"field1\":\"value1\",\"field2\":\"value2\"}}\n\nTABLES AND FIELDS:\n- incident: short_description, description, urgency (1=High,2=Medium,3=Low), impact (1,2,3), category\n- change_request: short_description, description, type (normal/standard/emergency), risk (high/moderate/low)\n- problem: short_description, description, urgency, impact, category\n- task: short_description, description, priority (1-5)\n- sc_req_item: short_description, quantity\n\nEXAMPLES:\nUser: \"email is down\" → {\"action\":\"CREATE\",\"table\":\"incident\",\"fields\":{\"short_description\":\"Email is down\",\"description\":\"User reported email not working\",\"urgency\":\"2\",\"impact\":\"2\",\"category\":\"software\"}}\nUser: \"need new laptop\" → {\"action\":\"CREATE\",\"table\":\"sc_req_item\",\"fields\":{\"short_description\":\"New laptop request\",\"quantity\":\"1\"}}\nUser: \"server upgrade change\" → {\"action\":\"CREATE\",\"table\":\"change_request\",\"fields\":{\"short_description\":\"Server upgrade\",\"description\":\"Upgrade production server\",\"type\":\"normal\"}}"
        }
      },
      "id": "anthropic-1",
      "name": "Claude AI",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "anthropicApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Claude API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the AI response text\nconst aiResponse = $input.first().json.message.content[0].text;\n\n// Extract JSON from response\nconst jsonMatch = aiResponse.match(/\\{[\\s\\S]*\\}/);\n\nif (!jsonMatch) {\n  throw new Error('No JSON found in AI response: ' + aiResponse);\n}\n\nconst parsed = JSON.parse(jsonMatch[0]);\n\n// Return table and fields for ServiceNow\nreturn {\n  json: {\n    table: parsed.table,\n    fields: parsed.fields,\n    action: parsed.action\n  }\n};"
      },
      "id": "code-1",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://YOUR-INSTANCE.service-now.com/api/now/table/{{ $json.table }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.fields }}",
        "options": {}
      },
      "id": "http-1",
      "name": "Create in ServiceNow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300],
      "credentials": {
        "httpBasicAuth": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "ServiceNow Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"table\": \"{{ $('Parse AI Response').item.json.table }}\",\n  \"record_number\": \"{{ $json.body.result.number }}\",\n  \"sys_id\": \"{{ $json.body.result.sys_id }}\",\n  \"message\": \"Record created successfully in {{ $('Parse AI Response').item.json.table }}\"\n}",
        "options": {}
      },
      "id": "respond-1",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Claude AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude AI": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Create in ServiceNow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create in ServiceNow": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
