claude_ai_n8n_complete/06_Alternative_HTTP_Workflow.json
{
  "name": "Claude AI + ServiceNow (HTTP Version)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-servicenow",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_CLAUDE_API_KEY_HERE"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1024,\n  \"system\": \"You are a ServiceNow assistant. Return ONLY valid JSON: {\\\"action\\\":\\\"CREATE\\\",\\\"table\\\":\\\"table_name\\\",\\\"fields\\\":{\\\"field\\\":\\\"value\\\"}}. Tables: incident (short_description,description,urgency,impact), change_request (short_description,description,type), problem (short_description,description), task (short_description,description).\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.body.prompt }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "http-claude",
      "name": "Call Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Get Claude's response\nconst claudeResponse = $input.first().json;\nconst aiText = claudeResponse.content[0].text;\n\n// Extract JSON\nconst jsonMatch = aiText.match(/\\{[\\s\\S]*\\}/);\nif (!jsonMatch) {\n  throw new Error('No JSON in response: ' + aiText);\n}\n\nconst parsed = JSON.parse(jsonMatch[0]);\n\nreturn {\n  json: {\n    table: parsed.table,\n    fields: parsed.fields\n  }\n};"
      },
      "id": "code-1",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://YOUR-INSTANCE.service-now.com/api/now/table/{{ $json.table }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.fields }}",
        "options": {}
      },
      "id": "http-sn",
      "name": "Create in ServiceNow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300],
      "credentials": {
        "httpBasicAuth": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "ServiceNow Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"table\": \"{{ $('Parse Response').item.json.table }}\",\n  \"number\": \"{{ $json.body.result.number }}\",\n  \"sys_id\": \"{{ $json.body.result.sys_id }}\"\n}",
        "options": {}
      },
      "id": "respond-1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Call Claude API", "type": "main", "index": 0}]]
    },
    "Call Claude API": {
      "main": [[{"node": "Parse Response", "type": "main", "index": 0}]]
    },
    "Parse Response": {
      "main": [[{"node": "Create in ServiceNow", "type": "main", "index": 0}]]
    },
    "Create in ServiceNow": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    }
  }
}
